@import 'fonts.css';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   scroll-behavior: smooth;
}

img {
   vertical-align: middle;
}

.container {
   max-width: 1140px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

:root {
   --comf: 'Comfortaa';
   --mont: 'Montserrat';
   --rob: 'Roboto';
   --cNow: #F18128;
   --cWit: #FFFFFF;
   --cKong: #C8C8C8;
   --cHov: #000000;
}

body {
   background: #040D1F;
}

/* ======= header============== */
.header{
   position: sticky;
   top: -94px;
   z-index: 999;
}
.header__poster {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(7, 1, 44, 1) 11%, rgba(92, 9, 121, 1) 21%, rgba(178, 53, 87, 1) 52%, rgba(220, 196, 37, 1) 75%, rgba(0, 212, 255, 1) 97%);
   padding: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header__poster-text {
   font-family: var(--comf);
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: var(--cWit);
   width: 166px;
}

.header__nav-content {
   display: flex;
   justify-content: space-between;
}

.header__nav {
   background: rgba(1, 3, 5, 0.8);
   backdrop-filter: blur(15px);
   padding: 30px 0 0;
}

.logo__text {
   font-family: var(--comf);
   color: var(--cWit);
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   margin-left: 5px;
}

.header__nav-list {
   display: flex;
}

.header__nav-link {
   font-family: var(--mont);
   color: var(--cWit);
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   padding: 0 6px;
   margin: 0 9px;
   display: flex;
   flex-direction: column;
   transition: .3s;
}

.header__nav-link::after {
   content: '';
   height: 2px;
   background: transparent;
   margin: 0 -6px;
   border-radius: 23px 23px 0px 0px;
   margin-top: 40px;
   transition: .3s;
}

.header__nav-link:hover::after {
   background: var(--cNow);
}

.header__nav-link:hover {
   color: var(--cNow);
}

/* ======= header============== */

/* ========= main ========== */
.intro {
   position: relative;
}

.intro__content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(7, 15, 25, 0.75);
   display: flex;
   align-items: center;
}

.intro img {
   width: 100%;
   min-height: 640px;
   object-fit: cover;
}

.intro__content-title {
   font-family: var(--mont);
   color: var(--cWit);
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 64px;
   line-height: 78px;
}

.intro__content-text {
   font-family: var(--mont);
   color: var(--cKong);
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: justify;
   max-width: 570px;
   margin-bottom: 50px;
}

.link-right {
   margin-right: 30px;
}

.section__link {
   padding: 17px 48px;
   border-radius: 4px;
   font-family: var(--rob);
   font-weight: 500;
   font-size: 16px;
   line-height: 12px;
   text-align: justify;
   color: var(--cWit);
   background: #040D1F;
   transition: .3s;
}

.section__link:hover {
   background: var(--cNow);
   color: var(--cHov);
}

.films {
   padding: 60px 0 78px;
}

.section-title {
   font-family: var(--comf);
   color: var(--cNow);
   font-weight: 400;
   font-size: 36px;
   line-height: 40px;
   text-transform: capitalize;
   border-bottom: 2px solid var(--cNow);
   width: max-content;
   padding-bottom: 10px;
   margin-bottom: 54px;
}

.films__content-item {
   position: relative;
   width: max-content;
}

.films__content-side {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
   border-radius: 6px;
   padding: 54px 14px 18px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.films__content-time {
   padding: 7px 28px;
   background: rgba(7, 15, 25, 0.2);
   border: 1px solid #FFFFFF;
   border-radius: 9px;
   font-family: var(--mont);
   color: var(--cWit);
   font-weight: 400;
   font-size: 14px;
   line-height: 10px;
   margin-bottom: 30px;
}

.films__content-title {
   font-family: var(--mont);
   color: var(--cWit);
   font-weight: 400;
   font-size: 22px;
   line-height: 27px;
   margin-bottom: 12px;
}

.films__content-text {
   font-family: var(--rob);
   color: var(--cWit);
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
}

.films__content {
   display: flex;
   justify-content: space-between;
}

.widow__text {
   font-family: var(--rob);
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   text-align: justify;
   color: #000000;
   max-width: 560px;
   margin: 55px 0;
}

.section__link {
   display: inline-block;
}

.widow {
   background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
   padding: 42px 0 80px;
   position: relative;
}

video {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   z-index: -1;
}

.collections-card {
   position: relative;
   width: max-content;
}

.collections-content h3 {
   font-family: var(--comf);
   font-weight: 700;
   font-size: 20px;
   line-height: 22px;
   color: #FFFFFF;
}

.collections {
   padding: 62px 0;
}

.collections-content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
   border-radius: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.span::before,
.span::after {
   content: '';
   background: #040D1F;
   border-radius: 2px;
   width: 19px;
   height: 24px;
   display: block;
   transition: .5s;
   box-shadow: 2px 2px 1px #040d1f5f;
}

.span {
   display: flex;
   justify-content: space-between;
   transition: 1s;
}

.span:last-child {
   margin-bottom: 0;
}

.collections__warpper {
   display: flex;
   justify-content: space-between;
}

.collections-span {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 7px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.collections-span:hover .span::after {
   transform: translateY(800%) rotateY(180deg);
}

.collections-span:hover .span::before {
   transform: translateY(-800%) rotateY(180deg);
}

.series-item_photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
}
.series-item_photo:first-child img{
   min-height: 436px;
}

.series-item_photo {
   position: relative;
}

.series-item_side {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 22px;
   background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
   border-radius: 6px;
}

.series-item_side h6 {
   font-family: var(--comf);
   font-weight: 700;
   font-size: 40px;
   line-height: 45px;
   color: #FFFFFF;
   margin-bottom: 27px;
}

.series-item_side p {
   font-family: var(--comf);
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 30px;
}

.series-item_side h5 {
   font-family: var(--comf);
   font-weight: 700;
   font-size: 24px;
   line-height: 27px;
   color: #FFFFFF;
   margin-top: 20px;
}

.series-item {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}

.series-item_photo:first-child {
   grid-column: 1/5;
}

.series-item_photo:nth-child(2) {
   grid-column: 1/3;
   grid-row: 2/4;
}

.series {
   padding-bottom: 60px;
}

/* ========= main ========== */

/* ======footer===== */
.footer__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer {
   padding: 24px 0;
   background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer__content h2 {
   font-family: var(--comf);
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   text-align: right;
   letter-spacing: 0.01em;
   color: #FFFFFF;
}


/* ======footer===== */